body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginPage {
    background-color: #41ABA1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 600px;
}
.loginFormContainer {
    background-color: #586463;
    padding: 50px;
    border-radius: 5px;
}

.loginForm input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    text-align: center;
    border-radius: 5px;
}

.loginForm button {
    padding: 10px;
    width: 100%;
    background-color: #308078;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.loginForm button:hover {
    background-color: #7eb5b0;
}
.loginForm .brandLogo {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}

.notFoundPage .brandLogo {
    background-color: rgb(55, 52, 52);
    padding: 20px;
    border-radius: 5px;
    width: 600px;
}

.notFoundPage h1 span {
    color: #41ABA1;
}

@media (max-width: 768px) {
    .loginForm {
        width: 100%;
        padding: 20px;
    }
    .loginForm input {
        padding: 5px;
    }
    
    .loginForm button {
        padding: 5px;
    }
}